@import "_variables";

.arrow-parent {
  height: 30rem;
  width: 100rem;
  font-size: 10rem;
  margin: 5rem;
  padding: 2rem;
}

.arrow {
  height: 50%;
  text-decoration: none;
  background-color: color(blue);
  color: color(blue-light);
  transition: all 0.5s;
}

.arrow-left {
  padding: 5rem;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}

.arrow-right {
  padding: 5rem;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

.arrow:hover {
  background-color: color(orange);
  color: color(orange-light);
}
