@import "_variables";

.text-effect {
  background-image: url(./Media/clouds.jpg);
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text; /*background clip doesn't work on Chrome*/
  transition: all 0.3s;
}

.text-effect:hover {
  transform: skewY(-10deg);
  letter-spacing: 3rem;
}
