html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  orange: rgb(255, 142, 36),
  orange-light: rgb(253, 230, 128),
  white: #fff,
  black: #000,
  yellow: rgb(255, 255, 77),
  blue: rgb(0, 98, 255),
  blue-light: rgb(83, 201, 255),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
