html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 2rem;
  margin: 3rem auto;
  font-size: 3rem;
  border-radius: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn-orange {
  color: #fff;
  background-color: #ff8e24;
}

.btn-orange::after {
  background-color: #ff8e24;
  color: #fff;
}

.btn:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn:active {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
          transform: scaleX(1.1) scaleY(1.1);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:active::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  opacity: 0;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.places-parent {
  width: 90rem;
  height: 40rem;
  position: relative;
  margin: 2rem;
}

.places {
  height: 30rem;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
}

.places-forest {
  left: 0%;
}

.places-mines {
  right: 0%;
}

.places:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.places-parent:hover .places:not(:hover) {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
}

.places:active {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.picture-parent {
  height: 25rem;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.picture-potato {
  height: 25rem;
  -webkit-clip-path: polygon(50% 25%, 80% 10%, 100% 50%, 50% 100%, 0 50%, 20% 10%);
          clip-path: polygon(50% 25%, 80% 10%, 100% 50%, 50% 100%, 0 50%, 20% 10%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.picture-red {
  height: 25rem;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  top: 100%;
  left: 50%;
}

.picture-parent:hover .picture-potato {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
}

.picture-parent:hover .picture-red {
  opacity: 1;
  top: 50%;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.arrow-parent {
  height: 30rem;
  width: 100rem;
  font-size: 10rem;
  margin: 5rem;
  padding: 2rem;
}

.arrow {
  height: 50%;
  text-decoration: none;
  background-color: #0062ff;
  color: #53c9ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.arrow-left {
  padding: 6rem;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.arrow-right {
  padding: 5rem;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
          clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.arrow:hover {
  background-color: #ff8e24;
  color: #fde680;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */